<!DOCTYPE html>
<html>
<head>
    <title>Library Name</title>
</head>
<body>
    <!--Library Info-->
    <h1>Welcome to Library</h1>
    <p>Address: 123 book rd, Booktown, BK 45678</p>
    <p>Phone: (555) 123-4567</p>
    <p>Email: contact@library-name.com</p>

    <!--Inventory button-->
    <a href="/inventory">
        <button>View Inventory</button>
      </a>


    <!--Register button-->
    <a href="/register"><button>Register</button></a>
    
    <!--Login Button-->
    <a href="/login"><button>Login</button></a>

</body>
</html>
